@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgb(243, 241, 241); */
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  transition: transform 0.3s ease-in-out;
  overflow-x: auto;
  white-space: nowrap;
}
